
.main-title {
    color: #385555;
}

html, body{
    height: 100%;
}

body {
  background: linear-gradient(-45deg, #ffffff, #1E5AA8, #004A91, #ffffff);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  margin: 0;
  font-family: 'Lucida Sans', sans-serif;
  color: #011529;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5); 

  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 1200px;       
}

.list{
    width: 92%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
}

.list-item-dimap{
    background-image: url(imagens/dimap.logo.webp);
    background-position: center 15px;
    background-size: 26%;
    background-repeat: no-repeat;
    height: 325px;
    margin-left: 10px;
    max-width: 80%;
    flex-basis: 325px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;

    position: relative;
    top: -20px;
    text-align: center;
}

.list-item-imd{
    background-image: url(imagens/imd-ufrn.webp);
    background-position: center -15px;
    background-size: 80%;
    background-repeat: no-repeat;
    height: 325px;
    margin-left: 10px;
    max-width: 80%;
    flex-basis: 325px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;

    position: relative;
    top: -20px;
    text-align: center;
}

.list-item-dimap:hover, .list-item-imd:hover{
  transform: scale(1.090);
}

.list-item-image img{
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    width: 80px;
    margin-top: 100px;
    transition: transform 0.3s ease;
}

.list-item-image img:hover{
  transform: scale(1.2);
}

.list-item-action{
    display: none;
}

.list-item-name {
  font-size: 1.3rem;       
  font-weight: bold;       
  color: #004A91;           
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3); 
  margin-bottom: 5px;
  margin-top: -3px;
}


.list-item-materia {
  font-size: 1rem;
  color: #1E5AA8;          
  text-shadow: 1px 1px 2px rgba(255,255,255,0.6); 
  margin-bottom: 5px;
  margin-top: -10px;
}

.list-item-email {
  font-size: 0.95rem;
  color: #003366;            
  text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-item-email::before {
  content: "📧";             
  margin-right: 5px;
}

.roger{
    height: 100px;
}

.search-container {
  display: flex;         
  justify-content: center;    
  margin-top: 20px;         
}

.search-bar {
  width: 300px;   
  height: 35px;      
  padding: 5px 10px; 
  border: 1px solid #c2c2c2;
  border-radius: 12px; 
  outline: none;
}

.search-button {
  margin-left: 10px;
  padding: 5px 15px;
  border: none;
  background-color: #ffffff;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

